
body{
    align-items: center;
    margin: 0px;
    background-color: azure;
}
header h1{
    color: white;
    text-align: center;
    font-size: 50px;
    background-color: rgba(226,71,61,255);
    font-family: cursive;
    margin: 0px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* NAV*/
nav{
    background-color: blanchedalmond;
    display: flex;
    border-bottom: 1px solid black;
}
nav ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
nav ul li{
    text-align: center;
    display: flex;
}
nav ul li a{
    border: solid 1px black;
    background-color: antiquewhite;
    color: brown;
    text-decoration: none;
    font-size: 25px;
}
nav ul li a:visited{
    color: brown;
}
#info{
    background-color: beige;
}
/*RUTINA*/
#rutina{
    width: 100%;
    background-color: white;
    font-size: 30px;
    text-align: center;
    border: 1px solid black;
}
#rutina select{
    width: 100%;
    text-align: center;
}
#rutina label{
    display: block;
    width: 100%;
    background-color: rgb(236, 236, 236);
}
#rutina button{
    font-size: 50px;
    width: 100%;
}
/*INDEX*/

#logo{
    border: 1px solid rgb(53, 0, 0);
    width: 50%;
    margin: 20px;
}

#info {
    text-align: center;
    width: 100%;
}
/*CALCULADORA IMC*/
#calculadora{
    border: solid 1px black;
    background-color: rgba(255, 255, 255, 0.582);
    width: 100%;
    font-size: 20px;
}
#calculadora button{
    text-align: center;
    width: 100%;
    font-size: 50px;
}
#imc_resultado{
    
}